body{margin:0;padding:0;font-family:Inter;background-color:#080d26;min-width:360px}*{box-sizing:border-box;line-height:normal;font-family:inherit;margin:unset}a{text-decoration:none;display:block}ul{margin:0;margin-inline:unset!important;padding:0;list-style:none}input{background-color:transparent;width:100%}input:focus{outline:none}.light_blue_A100_deep_purple_A200_01_border{border-image:linear-gradient(135deg,#6ddcff,#7557ff) 1}.alice-carousel__dots-item{cursor:pointer}@media (max-width:1050px){header{padding:0 2rem}}[type='text'],input:where(:not([type])),[type='email'],[type='url'],[type='password'],[type='number'],[type='date'],[type='datetime-local'],[type='month'],[type='search'],[type='tel'],[type='time'],[type='week'],[multiple],textarea,select{appearance:none;background-color:#EBF5FF;border:none!important;outline:none!important;box-shadow:none!important;font-size:24px;line-height:1.5rem;--tw-shadow:0 0 #0000;color:#8EA1BD}input::placeholder{color:#8EA1BD;opacity:1}@keyframes fadeInOutSequence1{0%,20%,40%,60%,80%{opacity:0}100%{opacity:1}}@keyframes fadeInOutSequence2{0%,20%,40%,60%{opacity:0}80%,100%{opacity:1}}@keyframes fadeInOutSequence3{0%,20%,40%{opacity:0}60%,80%,100%{opacity:1}}@keyframes fadeInOutSequence4{0%,20%{opacity:0}40%,60%,80%,100%{opacity:1}}.fade-in-sequence1{animation:fadeInOutSequence1 2s infinite}.fade-in-sequence2{animation:fadeInOutSequence2 2s infinite}.fade-in-sequence3{animation:fadeInOutSequence3 2s infinite}.fade-in-sequence4{animation:fadeInOutSequence4 2s infinite}@keyframes fadeInOutSequence5{0%{filter:brightness(1.2)}100%{filter:brightness(0.8)}}.fade-in-sequence5>img{animation:fadeInOutSequence5 2s steps(2) infinite}.fade-in-sequence6>img{animation:fadeInOutSequence5 2s 1s steps(2) infinite}@media (max-width:1050px){.hamburger{display:block}}@media (min-width:1050px){.hamburger{display:none}}::-webkit-scrollbar{display:none}*{-ms-overflow-style:none;scrollbar-width:none}.bg-gradient3{background:linear-gradient(90deg,#B8D0F2 1.66%,#F4F8FF 48.98%);background-clip:text;-webkit-background-clip:text;color:transparent}.bg-gradient2{background:linear-gradient(90deg,#B8D0F2 10.65%,#F4F8FF 87.94%);background-clip:text;-webkit-background-clip:text;color:transparent}.bg-gradient1{background:linear-gradient(90deg,#B8D0F2 17.91%,#F4F8FF 97.07%);background-clip:text;-webkit-background-clip:text;color:transparent}sup{position:static;vertical-align:super;font-size:50%}html,body{margin: 0;padding: 0;width: 100%;height: 100%;overflow-x: hidden;}.blue-green-background-text{background: linear-gradient(90deg,#7557FF,#30D5C8);background-clip: text;}
@keyframes bounceIn {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    50% {
      transform: translateY(-20px);
      opacity: 1;
    }
    70% {
      transform: translateY(5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  @keyframes bounceOut {
    0% {
      transform: translateY(0);
      opacity: 1;
    }
    50% {
      transform: translateY(-20px);
      opacity: 1;
    }
    70% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
      transform: translateY(20px);
      opacity: 0;
    }
  }
  
  .notification {
    animation: bounceIn 0.5s ease-out forwards; /* Faster bounce-in */
  }
  
  .notification-exit {
    animation: bounceOut 0.5s ease-in forwards; /* Faster bounce-out */
  }

    
#__next_dev_overlay, #__next_devtools {
  display: none !important;
}
[data-nextjs-toast] {
    display: none;
}
nextjs-portal {
    display: none !important;
}



.CognitivePage * {
  transition: all  .3s;
}
body{

  scroll-behavior: smooth;
}